<div class="ui floated simple dropdown item" id="sylius-also-bought-plugin-error">
    <i class="red exclamation triangle icon"></i> {{ 'commerce_weavers_sylius_also_bought.missing_configuration_error_message.title'|trans }}
    <div class="menu">
        <div class="ui message" id="error-details">
            <span>{{ 'commerce_weavers_sylius_also_bought.missing_configuration_error_message.error_explanation'|trans }}</span>
            <br/>
            <span>{{ 'commerce_weavers_sylius_also_bought.missing_configuration_error_message.error_solution'|trans }}</span>
            <br/>
            <a class="ui icon tiny button primary" href="{{ path('sylius_admin_product_association_type_create') }}">
                <i class="icon add"></i> {{ 'sylius.ui.create_product_association_type'|trans }}
            </a>
        </div>
    </div>
</div>
